@import "./open-props.css";

body {
    width: 100vw;
    height: 100vh;
    background: var(--gradient-2);
    color: var(--gray-0);
    font-family: var(--font-sans);
    font-weight: var(--font-weight-1);
}

.title {
    font-size: var(--font-size-8);
    font-weight: var(--font-weight-1);
    margin: var(--size-1);
}

section {
    height: 300px;
    width: 100%;
    display: flex;
}